* {
    box-sizing: border-box;
}

/* Style the header */
header {
    background-color: blue;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

header button:hover {
    background-color: lightgreen;
}

body {
    min-width: 250px;
    max-width: 700px;
    margin: auto
}

.center {
    text-align: center;
}

li {
    font-weight: 700;
    vertical-align: middle;
}

/* draw line through completed tasks */
li.checked {
    text-decoration: line-through;
}

li>button {
    float: right;
    font-size: small;
    background-color: blue;
    color: white;
    padding: 0px 6px 2px 6px;
    z-index: 10;
    border-radius: 10px;
}

li>button:hover {
    background-color: red;
}

img {
    margin-right: 10px;
}

/* show checked box before text */
ul li.checked::before {
    padding: 0px, 10px, 0px, 0px;
    display: flex;
    float: left;
    content: url(../images/boxChecked25x25.png);
}

/* show empty box before text */
ul li::before {
    padding-right: 10px;
    display: flex;
    float: left;
    align-items: center;
    vertical-align: middle;
    content: url(../images/boxNoCheck25x25.png);
}

/* Darker background-color/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: rgba(0, 0, 255, 0.1);
}

/* darker background color on hover */
ul li:hover {
    background: rgba(0, 0, 255, 0.3);
}